/* 
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: black;

        }

        #canvas
        {
            width: 100%;
            height: 100%;
            margin: auto;
            display: block;
            color: rgb(82, 13, 162);
            border: 1px solid black;
        } */


        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        #canvas
        {
            border: 1px solid black;
            position: absolute;
            top :50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #000000;
            max-width: 100%;
            max-height: 100%;
        }